// firestore.rules
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // --- FUNGSI BANTUAN ---
    function isAuth() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return request.auth.token.role == 'admin';
    }

    // --- ATURAN KOLEKSI ---

    // Profil pengguna dan pelanggan
    match /profiles/{profileId} {
      allow create: if isAuth();
      allow read: if isAuth();
      allow update: if isAuth() && request.resource.data.referralId == resource.data.referralId;
      allow delete: if isAdmin();
    }
    
    // Untuk validasi keunikan nomor HP (hanya bisa diakses backend)
    match /phoneNumbers/{phoneNumber} {
      allow read, write: if false;
    }
    
    // Data pesanan
    match /orders/{orderId} {
    	allow read, write: if isAuth();
    }
    match /orderCounters/{counterId} {
    	allow read, write: if isAuth();
    }
    
    // Data produk & geografis (hanya bisa dibaca)
    match /products/{productId} {
      allow read: if isAuth();
      allow write: if false; // Tidak boleh diubah dari client
    }
    
    match /cities/{cityId} {
      allow read: if isAuth();
      allow write: if false;
    }
    
    match /districts/{districtId} {
      allow read: if isAuth();
      allow write: if false;
    }
    
    match /provinces/{provinceId} {
      allow read: if isAuth();
      allow write: if false;
    }
  }
}
